<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content='Constantina "Connie" Scoullis'
        />
        <link rel="canonical" href="http://constantina-js.github.io" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content='{{ page.title }}' />
        <meta property="og:description" content='Constantina "Connie" Scoullis' />
        <meta property="og:image" content="img/0.png" />
        <meta property="og:url" content="http://constantina-js.github.io" />
        <meta property="og:site_name" content='Constantina "Connie" Scoullis' />
        <script src="{{ site.baseurl }}/assets/js/index.js"></script>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.css">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
        <title>{{ page.title }}</title>
    </head>
    <body>
    
        {% include header.html %}

        <div class="body-container">

            <section id="about-me">

                <p>
                    Hi! I'm Constantina, but you can call me Connie.
                </p>

                <p>
                    I am the Operations Coordinator for <a href="">Evo Las Vegas</a>, the Executive Assistant and Marketing Coordinator for <a href="https://www.inbetweenartistry.org/">In;Between Artistry</a>, and the Virtual Office Assistant for <a href="https://www.revelroomstudios.com/">Revel Room Studios</a>. Most importantly, I am a cat mom to my two cats, Otto and Cannoli.
                </p>

                <p>
                    Outside of these roles, I am a <a href="https://github.com/constantina-js">software developer</a>, math and computer science tutor, Brazilian jiu jitsu purple belt, aerialist, voice actor-in-training, writer, baker, runner, a chronically online millennial, and a side quest hoarder.
                </p>

                <p>
                    What was once a straightforward professional website is now my corner of the internet—a place where I share my musings across all facets of my life, from tech and creative work to training, projects, and personal reflections.
                </p>

                <p>Feel free to <a href="mailto:scoullisconstantina@gmail.com">reach out</a> if you’re interested in collaborating, working together, or just saying hello.</p>

            </section>

        </div>

    </body>

{% include footer.html %}

</html>