<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content='Constantina "Connie" Scoullis'
        />
        <link rel="canonical" href="http://constantina-js.github.io" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content='{{ page.title }}' />
        <meta property="og:description" content='Constantina "Connie" Scoullis' />
        <meta property="og:image" content="img/0.png" />
        <meta property="og:url" content="http://constantina-js.github.io" />
        <meta property="og:site_name" content='Constantina "Connie" Scoullis' />
        <script src="{{ site.baseurl }}/assets/js/index.js"></script>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.css">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
        <title>{{ page.title }}</title>
    </head>
    <body>
    
        {% include header.html %}

        <div class="body-container">

            <section id="about-me">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus dui consequat felis pulvinar, sit amet tincidunt tellus aliquam. Mauris ac egestas odio, sed bibendum leo. Fusce ac enim sed leo varius bibendum. Cras fringilla, nunc in vehicula efficitur, felis massa molestie mauris, sit amet interdum tellus erat ac nulla. Nam ultrices condimentum turpis quis placerat. Ut cursus consequat odio, sed semper tortor. Aliquam eget facilisis metus. Ut ligula ante, fermentum eget posuere in, imperdiet ut neque. Suspendisse potenti. Ut aliquet elementum congue. Nulla eu ultrices felis. Aliquam ut pharetra tellus. Nunc sed mi odio. Sed lacinia leo iaculis, fringilla orci in, dictum lorem. Morbi gravida ipsum eget odio lobortis, quis auctor arcu lobortis. Etiam at nisl ligula.
                </p>


            </section>

        </div>

    </body>

{% include footer.html %}

</html>